# Data Structures - lists, tuples and dicts

Previously, we've introduced basic data types such as *int*, *boolean* and *string*. These can be used to store a single piece of information. e.g. We might store some data about a robot by writing

```python
robot_name = "Martin"
robot_xpos = 0.0
robot_ypos = 0.0
```

If we want a second robot, we could create some more variables- ```robot_name_2 = "Hemma"```, ```robot_name_3 = "Arthur"```. This is fine when we have small amounts of each variable- but what if we want to create and name 100 robots? 

Fortunately, Python has built-in data types for working with *sequences* of data, including *list*, *set*, *tuple* and *dictionary*. We'll look at each of these today, starting with the list.

## Lists

A list is a *mutable*, *ordered* data structure that can store multiple different data types. We can create an empty list by typing ```my_list =  list() ``` or ```my_list = []```. We can also create a list by simply enclosing a list of objects in square brackets. i.e by writing

In [4]:
robot_names = ["Martin", "Hemma", "Arthur", "Josh"]
print(robot_names)
type(robot_names)

['Martin', 'Hemma', 'Arthur', 'Josh']

list

Each item in a list is called an element and is associated with an index, which denotes the position of that item in the list. It's important to remember that in Python, the first element in a list is at **index 0, not index 1**. 

<img src="https://github.com/engmaths/EMAT10007_2023/blob/main/weekly_content/img/lists1.png?raw=true" width="20%">

We can access an element in a list by writing the name of the list, followed by square brackets containing the index of the element. i.e To get the first element of our list of robot names, I would write:

In [5]:
first_name = robot_names[0]
print(first_name)

Martin

Python also allows us to access the elements of a list in reverse. If we write ```my_list[-1]```, we'll get the last element of the list, while ```my_list[-2]``` will get the second to last element of the list.

<img src="https://github.com/engmaths/EMAT10007_2023/blob/main/weekly_content/img/lists2.png?raw=true" width="20%">

In [7]:
last_name = robot_names[-1]
print(last_name)

Josh

In either case, if we try to access element that does not exist (i.e we try to access element 5 in a list that only has 4 elements), we'll get an error- specifically, an IndexError.

In [8]:
name = robot_names[5]

IndexError: list index out of range

Just as we can use the index notation to access an element in a list, we can also use it to change the value of that element.

In [27]:
robot_names[0] = "Wilbur"
robot_names[-1] = "Oscar"
print(robot_names)

['Wilbur', 'Hemma', 'Arthur', 'Oscar']

We can create a sub-list (or slice) from our list by placing a ':' inside the square brackets. For example, to get the first two elements of our list, I would write

In [28]:
first_two_names = robot_names[0:2]
print(first_two_names)
type(first_two_names)

['Wilbur', 'Hemma']

list

Again, we need to note something important here- when we slice a list, the first number is the index of the first element we want, but the second number is the index **after** the element we want. When using the slice notation, we don't need to include a first number (Python will default to zero), a last number (Python will default to the end), and can optionally use reverse indices.

In [29]:
print(robot_names[:2])   # Print first two names
print(robot_names[2:])   # Print names at index two and beyond
print(robot_names[:-2])  # Print first two names
print(robot_names[-2:])  # Print last two names

['Wilbur', 'Hemma']
['Arthur', 'Oscar']
['Wilbur', 'Hemma']
['Arthur', 'Oscar']

# Nested Lists

The elements of a list in Python do not have to be the same data type- we could for example, write

In [15]:
my_list = ["Hello", 1, False]
print(my_list)
print(type(my_list[0]), type(my_list[1]), type(my_list[2]))

['Hello', 1, False]
<class 'str'> <class 'int'> <class 'bool'>

This means that it is possible for one list to contain another list as an element. For example, we can write

In [17]:
nested_list = [[1, 2], [3, 4]]
print(nested_list)

[[1, 2], [3, 4]]

Here, our list contains only two elements, both lists. The first of these elements is the list [1, 2], while the second element is the list [3, 4]. Nested lists are often used to represent matrices- the idea being that the first list ([1, 2]) represents the first row of the matrix, while the second list represents the second row of the matrix (and so on..). I.e our nested list is equivalent to the matrix

$
\begin{bmatrix}
1 & 2 \\
3 & 4
\end{bmatrix}
$

To access an element in the outer list, we use the normal syntax- i.e

In [21]:
print("First element is " + str(nested_list[0]))
print("Second element is " + str(nested_list[1]))

First element is [1, 2]
Second element is [3, 4]

To access the elements of these lists directly, we can simply use two sets of square brackets. i.e

In [23]:
print("Top left is " + str(nested_list[0][0]))
print("Top right is " + str(nested_list[0][1]))
print("Bottom left is " + str(nested_list[1][0]))
print("Bottom right is " + str(nested_list[1][1]))

Top left is 1
Top right is 2

### Exercise 1 - lists

1. Make two lists containing the values [1, 4, 9] and [1, 8, 27].
2. Double the value of the first element in each list.
3. Add the first element of the first list to the last element of the second list.
4. Make a nested list that contains both lists.

[[2, 4, 9], [2, 8, 27]]

## Lists and Loops
Basic idea
range

### Exercise 2 - list methods
Do something number theoretic here-- generate a list of numbers, find out how long the list is and how many even/odd numbers it contains the in the first / second half of the sequence.

## List Methods

Python has a number of helpful functions for working with lists. 
- Len
- Append
- Remove
- +, *
- In

### Exercise (short)

### Exercise (longer)

Printing fun patterns?


## Tuples

### Exercise

Meh?

## Dictionaries

### Exercise

### Portfolio Exercise

Note to self- could do with adding a running example to this.

### Bonus Exercise